* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;  
    background-color: rgb(2, 7, 18);
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

header>h1 {
    color: white;
    font-size: 1.5rem;  
}

header>img {
    width: 8rem;  
    height: auto;
}

.item-menu-header {
    margin-right: 20px;
}

.item-menu-header>a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;  
}

.item-menu-header>a:hover {
    color: #137531;
}

.navbar {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    padding: 0.5rem 1rem;  
    height: auto;
}

.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 12px;  
}

#btn-header {
    display: flex;
}

#btn-header>button {
    padding: 8px;
    background-color: transparent;
    border: none;
}

#btn-header>button>a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

#btn-header>button>a>img {
    width: 1.5rem;  
    height: auto;
}

#btn-header>button>a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

#btn-header>button>a>img {
    width: 1.8rem;
    height: auto;
}

main>section>h2 {
    margin-top: 0px;
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

#oqeia {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line {
    width: 100px;
    border: 1px solid #ccc;
    margin: 20px auto;
}

#IA-list {
    list-style-type: none;
    padding: 0;
}

.IA-item {
    margin-bottom: 20px;
}

.IA-item h2 {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.IA-item p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

.IA-item p {
    margin-bottom: 15px;
}

#UseIas {
    padding: 20px;
    background-color: #020712;
    text-align: center;
}

#UseIas h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.ias {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-decoration: none;
}

.ias>div {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ias>div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.img-ia {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.IASClass {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    text-decoration: none;
}

.sobre-gtech {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-top: 2px solid #ccc;
}

.sobre-gtech h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.sobre-gtech p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.sobre-gtech img {
    width: 150px;  
    height: auto;  
    margin-top: 20px; 
    margin-bottom: 20px; 
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s ease; 
}

.sobre-gtech img:hover {
    transform: scale(1.1); 
}

footer {
    background-color: #020712;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin-bottom: 15px;
}

.footer-links {
    margin-bottom: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.footer-links a:hover {
    color: #137531;
    transition: color 0.3s;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    width: 25px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}




@media(max-width: 480px) {
    html {
        font-size: 12px;
    }

    header>img {
        width: 6rem; 
    }

    header>h1 {
        font-size: 1.5rem;
    }

    .nav-links li {
        padding: 8px 0;
    }

    .ias>div {
        width: 100%;
        max-width: 180px;
    }

    #UseIas h2 {
        font-size: 1rem;
    }

    .img-ia {
        width: 100%;
        height: auto;
    }

    .IASClass {
        font-size: 14px;
    }

    footer {
        font-size: 0.75rem;
        padding: 15px;
    }

    .footer-links a {
        margin: 0 10px;
    }
}